node_modules
.DS_Store
.idea
etc/
npm-debug.log
coverage/
/storybook-static
/out*
/packages/storybook-readme/components/
/packages/storybook-readme/services/
/packages/storybook-readme/styles/
/packages/storybook-readme/backwardCompatibility/
/packages/storybook-readme/env/
/packages/storybook-readme/vue/
/packages/storybook-readme/constants.js
/packages/storybook-readme/index.js
/packages/storybook-readme/register.js
/packages/storybook-readme/with-docs.js
/packages/storybook-readme/with-readme.js
